@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?anc53t');
  src:  url('fonts/icon.eot?anc53t#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?anc53t') format('truetype'),
    url('fonts/icon.woff?anc53t') format('woff'),
    url('fonts/icon.svg?anc53t#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_user:before {
  content: "\e900";
  color: #fff;
}
.icon-ic_search:before {
  content: "\e901";
  color: #fff;
}
.icon-ic_portfolio:before {
  content: "\e902";
  color: #fff;
}
.icon-ic_ex:before {
  content: "\e903";
  color: #fff;
}
.icon-ic_lev:before {
  content: "\e904";
  color: #fff;
}
