* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

:root {
    --main-color: #121212;
    --primary-color: #262626;
    --secondary-color: #14D37C;
    --text-bright_color: #FFFFFF;
    --text-dim_color: #FFFFFF66;
    --border-line_color: #FFFFFF4D;
    --background-popup_color: #373737;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--main-color);
    color: var(--text-bright_color);
}

.button {
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 12px 0;
}

.button:active {
    background-color: rgba(20, 211, 124, .8);
}

.default-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.default-dim-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: var(--text-dim_color);
}

.default-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 14px;
    background-color: var(--primary-color);
}

.default-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--border-line_color);
    padding: 11px 14px;
    border-radius: 4px;
}

.default-input:active {
    background-color: rgba(20, 211, 124, .06);
    border: 1px solid var(--secondary-color);
}

.default-input:focus {
    border: 1px solid var(--secondary-color);
}

.toggle {
    position: relative;
    display: inline-flex;
    width: 44px;
    height: 24px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--border-line_color);
    transition: .4s;
    border-radius: 25px;
}

.toggle-body::before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    top: 2px;
    left: 2px;
    background-color: var(--text-bright_color);
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.toggle input:checked + .toggle-body {
    background-color: var(--secondary-color);
}

.toggle input:checked + .toggle-body:before {
    transform: translateX(20px);
}

.radio {
    display: block;
    position: relative;
    user-select: none;
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.radio input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.radio-body {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 1px solid var(--text-dim_color);
    box-sizing: border-box;
}

.radio input:checked ~ .radio-body {
    background-color: var(--secondary-color);
    border: none;
}

.radio-body:after {
    content: '';
    position: absolute;
    display: none;
}

.radio input:checked ~ .radio-body:after {
    display: block;
}

.radio .radio-body:after {
    background-image: url("src/icons/ic_check.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    width: 24px;
    height: 24px;
}

.switch-mode {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.switch-mode__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #00000080;
}

.switch-mode__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--background-popup_color);
    padding: 24px 10px 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 2;
}

.switch-mode__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-bottom: 17px;
}

.switch-mode__row {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    padding: 9px 14px;
    background-color: var(--background-popup_color);
    border-radius: 8px;
}

.switch-mode__row:active {
    background-color: rgba(38, 38, 38, .8);
}

.switch-mode__row-ic {
    align-self: flex-start;
    margin-right: 12px;
}

.switch-mode__row-ic img {
    position: relative;
    top: 10px;
}

.switch-mode__row-info span {
    font-weight: 700;
}

.switch-mode__row-info p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-dim_color);
    padding-right: 35px;
}

.switch-mode__close-button {
    width: 92%;
    align-self: center;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-content {
    padding: 0 10px 37px;
    max-height: calc(100vh - 155px);
    overflow-y: auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 12px 7px;
}

.nav-bar__arr-right {
    width: 24px;
}

.coin-price {
    margin: 0 auto;
    padding: 8px 0 16px;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    position: relative;
    width: fit-content;
}

.coin-price::before {
    content: '';
    width: 4px;
    height: 4px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent var(--secondary-color) transparent;
    position: absolute;
    top: 33%;
    left: -20%;
}

.main-section {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.main-section > div {
    border-radius: 8px;
}

.options {
    padding: 16px 0;
    background-color: var(--primary-color);
}

.trading-mode,
.leverage {
    padding: 0 14px;
}

.trading-mode,
.amount,
.order,
.info {
    border-bottom: 1px solid var(--border-line_color);
}

.trading-mode {
    padding-bottom: 17px;
}

.trading-mode__input:focus > img {
    transform: scale(-1);
}

.trading-mode__title {
    display: flex;
    align-items: center;
}

.trading-mode__title span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 8px;
}

.amount {
    display: flex;
    flex-direction: column;
    padding: 16px 14px;
}

.amount__value span {
    font-weight: 500;
}

.amount__value > span {
    font-size: 14px;
    line-height: 20px;
}

.amount__input {
    margin-top: 4px;
}

.amount__input span {
    font-size: 20px;
}

.amount__manipulate {
    display: flex;
    justify-content: space-between;
    flex: 0 0 60px;
}

.amount__available {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 0;
    position: relative;
}

.amount__available-title,
.amount__available-sum {
    text-align: center;
}

.amount__available-title span {
    position: relative;
    text-transform: uppercase;
}

.amount__available-title span::after {
    content: '';
    background-image: url("src/icons/ic_arr-down.svg");
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    margin-left: 4px;
}

.amount__available-sum {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 4px;
}

.balance {
    display: flex;
    column-gap: 2px;
    justify-content: center;
    width: 100%;
}

.balance__item {
    width: 100%;
    max-width: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 26px;
}

.balance__item-line {
    width: 100%;
    height: 4px;
    box-sizing: border-box;
    background-color: var(--main-color);
}

.balance__item-line_active {
    background-color: var(--secondary-color);
    height: 6px;
    border-radius: 1px;
    margin-top: -1px;
}

.balance__item-value_active {
    color: var(--secondary-color);
}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 14px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 10px 14px;
}

.info__commission,
.info__required {
    display: flex;
    flex-direction: column;
}

.info__commission {
    align-items: flex-start;
}

.info__required {
    align-items: flex-end;
}

.info__title, .info__value {
    font-weight: 500;
}

.info__title {
    font-size: 10px;
    line-height: 12px;
    color: var(--text-dim_color);
    margin-bottom: 2px;
    text-transform: uppercase;
}

.info__value {
    font-size: 14px;
    line-height: 20px;
}

.leverage {
    display: flex;
    flex-direction: column;
}

.leverage__title {
    display: flex;
    align-items: center;
    margin: 8px 0 16px;
}

.leverage__title-text {
    text-transform: uppercase;
}

.leverage__buttons {
    display: flex;
    column-gap: 8px;
    justify-content: center;
    width: 100%;
}

.leverage__button {
    background-color: var(--primary-color);
    padding: 4px 0;
    border: 1px solid var(--border-line_color);
    border-radius: 4px;
    width: 100%;
    max-width: 59px;
    color: var(--border-line_color);
}

.leverage__button_active {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.buy-button {
    align-self: center;
    width: 87%;
}

.tab-bar {
    display: flex;
    justify-content: space-around;
    padding: 8px 0 38px;
    background-color: var(--primary-color);
    width: 100%;
    margin-top: auto;
}

.tab-bar__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-dim_color);
    width: 45px;
}

.tab-bar__item-icon::before {
    color: var(--text-dim_color);
    font-size: 24px;
}

.tab-bar__item-icon_active::before {
    color: var(--secondary-color);
}

.tab-bar__item div {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    padding-top: 6px;
}

.tab-bar__item_active {
    color: var(--secondary-color);
}